@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .container-xl {
    @apply max-w-[1440px] mx-auto px-10;
  }
  .container-lg {
    @apply max-w-[1200px] mx-auto px-10;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
}
