@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-notion-x/src/styles.css";

/* 선택적 스타일 */
@import "prismjs/themes/prism-tomorrow.css";
@import "katex/dist/katex.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .container-xl {
    @apply w-full mx-auto lg:px-10 xs:px-4; /* Default to full width */
  }
  .py-c-15 {
    @apply lg:py-60 md:py-32 xs:py-16;
  }
  .py-c-10 {
    @apply lg:py-60 md:py-32 xs:py-16;
  }
  .max-w-1200 {
    @apply xl:max-w-[1200px] lg:max-w-[960px] md:max-w-[720px] xs:max-w-full;
  }

  @media (min-width: 1441px) {
    .container-xl {
      @apply max-w-[1400px] mx-auto px-10; /* Centered with padding */
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
}

.blog-detail ~ footer {
  display: none;
}
.blog-detail ~ header,
body:has(.blog-detail) header {
  display: none !important;
}
